/*
@import url("vendor/pretendard/pretendard-dynamic-subset.css");
*/
@import url("https://cdn.galaxyhub.kr/static/css/pretendard/pretendard-dynamic-subset.css");


@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
    --ck-border-radius: 0.375rem;
}

[x-cloak] {
    display: none !important;
}

.navigation {
    @apply absolute lg:relative top-14 lg:top-0 lg:left-0 lg:space-x-4 w-full lg:w-auto;
}

.navigation li {
    @apply py-2 lg:py-0 text-xl lg:text-sm text-center lg:text-left lg:float-left;
}

.navigation li ul {
    @apply lg:hidden;
}

@media (min-width: 1024px) {
    .navigation li ul {
        --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        min-width: 9rem;
        position: absolute;
        left: 0.5rem;
        padding-top: 1.35rem;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        background: linear-gradient(to bottom, transparent 1.22rem, rgba(255, 255, 255, 1) 1.22rem);
    }
}

.navigation li li {
    @apply p-1.5 my-3 lg:my-2 lg:px-8 text-base lg:text-sm text-center lg:text-left text-white lg:text-black hover:text-gray-400 lg:hover:text-black lg:float-none lg:hover:bg-gray-100;
}

.navigation li:hover ul {
    @apply lg:block;
}

.toastify {
    @apply fixed z-50 flex rounded-md p-4 mx-auto w-full shadow-md sm:w-2/3 lg:w-3/5 xl:w-2/4 opacity-0;
}

.toastify.on {
    @apply opacity-100;
}

.toastify.center {
    @apply inset-x-0;
}

.toastify.bottom {
    bottom: -150px;
}

.toastify > p {
    @apply text-sm font-medium;
}

.toastify > div {
    @apply ml-auto pl-3;
}

.toastify > div > div {
    @apply -mx-1.5 -my-1.5;
}

.toastify > div > div > button {
    @apply inline-flex rounded-md p-1.5 focus:outline-none focus:ring-2 focus:ring-offset-2;
}

.toastify > div > div > button > svg {
    @apply h-5 w-5;
}

.toastify.success {
    @apply bg-green-600;
}

.toastify.success > p {
    @apply text-green-50;
}

.toastify.success > div > div > button {
    @apply bg-green-600 text-green-50 hover:text-green-600 hover:bg-green-50 focus:ring-offset-0 focus:ring-0;
}

.toastify.error {
    @apply bg-red-600;
}

.toastify.error > p {
    @apply text-red-50;
}

.toastify.error > div > div > button {
    @apply bg-red-600 text-red-50 hover:text-red-600 hover:bg-red-50 focus:ring-offset-0 focus:ring-0;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(2.5rem);
    }
}

svg #wheel {
    animation: scroll ease 2s infinite;
}

aspect-16\/10 {
    aspect-ratio: 16/10
}

.spinner {
    animation: rotate 2s linear infinite;
}

.spinner .path {
    stroke: currentColor;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.ck-editor__editable {
    height: 20rem;
}

.mission-body.prose p, .mission-body.prose li{
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.mission-body.prose h1, .mission-body.prose h2, .mission-body.prose h3 {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
